<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/dropdown.css"> -->
     <link rel="icon" href="images/icon.png" type="image/png" sizes="16x16">
    <title>Blogs</title>
</head>
<body>
    <header>
      <a href="/" class="logo">Spaceify</a>
        <nav class="navbar">
            <a  href="/home">Home</a>
            <a class="active" href="/blog">Blog</a>
            <a href="/write">Write</a>
            <a href="/about">About</a>
            <a href="/review">Review</a>
            <a href="/contact">Contact</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <a  style="background: none; padding: 0;" id="user" href="/profile"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="profile">  
            <div class="dropdown">
                <a style="text-transform: none; font-size: 1.7rem; color: black;" href="#" ><%= username %> <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                <a href="/profile"><i class="fa-solid fa-user"></i> profile</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> logout</a>
                </div>
              </div>
        </div>
    </header>
    <section class="home" id="home" style="margin-top: 5rem">
      <div class="content">
          <h1 style="font-size:10rem;">Stay curious.</h1>
          <p>Discover stories, thinking, and expertise from writers on any topic.</p>
               <a style="background-color:#3aafa9 ;" href="#blog" class="btn">Start Reading</a>
      </div>
      <div class="image">
          <img src="images/image.png" alt="">
      </div>



    <section id="blog" style="margin-top: 12rem;">
      <h2 style="font-size:6rem; text-align:center; margin-bottom:4rem" >Recent Posts</h2>

      <% blogs.forEach(function(blog){ %>
        <div class="blog-box">
          <div class="blog-image">
            <img src="<%=blog.img%>" alt="Blog">
          </div>
          <div class="blog-details">
            <h4 style="font-family:'Times New Roman', Times, serif ;"><%=blog.title%></h4>
            <p><%=blog.notes.substring(0,170)%></p>
            <a href="/post/<%=blog._id%>">Continue reading</a><br>
            <span class="author"><p style="font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">Published by: <%= blog.name %></p></span>
          </div>  
        </div>
        <% }) %>
        
      </section>

      <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');

}
    </script>
</body>
</html>
