<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profile.css">
    <!-- <link rel="stylesheet" href="css/blog.css"> -->
    <link rel="icon" href="images/icon.png" type="image/png" sizes="16x16">
    <title>Profile</title>
</head>
<body style="background-color: white;">
    <header>
      <a href="/" class="logo">Spaceify</a>
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/blog">Blog</a>
            <a href="/write">Write</a>
            <a href="/about">About</a>
            <a href="/review">Review</a>
            <a  href="/contact">Contact</a>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
        </div>
      </header>

      <section class="profile" id="profile" style="background: #faf7f7;">
        <div class="image">
            <img style="height:40rem; width:35rem" src="images/profile.jpg" alt="">
        </div>
        <div class="content">
            <p>userid:<span style="text-transform: none;"><%= username %></span></p> 
            <p>Name :<span> <%= name %></span></p>
            <p>Gmail:<span style="text-transform: none;"><%= email %></span></p> 
            <a href="#blog">My Blogs</a>
            <a href="/logout">Logout</a>
        </div>
    </section>


    
    <section id="blog" style="margin-top: 12rem;">
        <h2 style="font-size:6rem; text-align:center; margin-bottom:4rem" >Your Posts</h2>
        <% blogs.forEach(function(blog){ %>
          <div class="blog-box">
            <div class="blog-image">
              <img src="<%=blog.img%>" alt="Blog">
            </div>
            <div class="blog-details">
              <h4><%=blog.title%></h4>
              <p><%=blog.notes.substring(0,150)%></p>
              <a href="/post/<%=blog._id%>">Continue reading</a>
              <a href="/edit/<%=blog._id%>" style="font-size: 2.1rem;"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/delete/<%=blog._id%>" onclick="return confirm('Are you sure you want to delete');" style="color: red; font-size: 2.1rem;"><i class="fa-solid fa-trash-can"></i></a>
            </div>
          </div>
          <% }) %>
          
        </section>










      <div class="footer">
        <div class="box-container">

           <div class="box">
               <h3>about us</h3>
               <pLooking for some free blog sites to help you start sharing your writing with the world? Whether
                 you just want to share updates with your family and friends or you want to start a blog and build a
                 broader audience, Start with Spaceify</p>
           </div>
           <div class="box">
               <h3>quick links</h3>
                <a href="/">home</a>
                <a href="/blog">blog">blog</a>
                <a href="/about">about</a>
                <a href="/contact">contact</a>
           </div>
           <div class="box">
               <h3>follow us</h3>
               <a href="#">LinkedIn</a>
               <a href="#">Instagram</a>
               <a href="#">facebook</a>
               <a href="#">twitter</a>
           </div>
           <div class="box">
               <h3>contact info</h3>
               <div class="info">
                   <i class="fas fa-phone"></i>
                   <p>+123-456-7890 <br> +111-222-7890</p>
               </div>
               <div class="info">
                   <i class="fas fa-envelope"></i>
                   <p> mra@gmail.com <br> reyaz@gmail.com </p>
               </div>
               <div class="info">
                   <i class="fas fa-map-marker-alt"></i>
                   <p>Kulti, West Bengal - 713343</p>
               </div>
           </div>
        </div>
        <h1 class="credit">&copy; copyright @2022 by Md Reyaz Alam</h1>
    </div>
      <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');

}
    </script>
</body>
</html>
